:root {
  --primary: #008fa5;
  --secondary: #e7fffc;
  --accent: #d6364a;
  --dark: #1e293b;
  --light: #f8fafc;
  --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  background: var(--light);
  color: var(--dark);
  line-height: 1.6;
  overflow-x: hidden;
}